.page {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3em;
  position: absolute;
}
body {
  background-color: #efe8e7;
}
.despre-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0px, 0.4rem + 1.5vw, 18px);
  line-height: 160%;

  color: #d96f60;
}

.title-text {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0px, 0.75rem + 1.5vw, 40px);
  line-height: 120%;

  color: #211c1c;
}

.prezentare-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0px, 0.4rem + 1.5vw, 18px);
  line-height: 160%;

  color: #645455;
}
.despre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.sectiune1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  margin: auto;
}
.component {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 48px;
  gap: 48px;

  border-radius: 24px;
  background-color: white;
}
.talking-picture {
  max-width: 603px;
  max-height: 399px;
}

@media (max-width: 1300px) {
  .component {
    flex-direction: column;
  }
  .despre {
    max-height: 80px;
  }
  .component {
    gap: 50px;
  }
}

img {
  max-inline-size: 100%;
  block-size: auto;
  inline-size: 100%;
}

@media (max-width: 680px) {
  .title-text {
    max-width: 400px;
  }
  .prezentare-text {
    max-width: 400px;
  }
  .despre {
    max-height: 80px;
  }
  .component {
    gap: 30px;
  }
}

.options {
  display: flex;
  gap: 32px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 48px;
  flex-basis: 30%;
  background: #dfe0d6;
  border-radius: 24px;
}
.button {
  align-self: center;
  margin-left: -50px;
}
.title-obtion {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0px, 0.5rem + 1.5vw, 24px);
  line-height: 141.5%;

  color: #211c1c;
}
.text-obtion {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0px, 0.5rem + 1.5vw, 18px);
  line-height: 141.5%;

  color: #645455;
}
@media (max-width: 950px) {
  .options {
    flex-wrap: wrap;
  }
  .one {
    flex-basis: 40%;
  }
  .two {
    flex-basis: 40%;
  }
  .three {
    flex-basis: 40%;
  }
  .card {
    gap: 32px;
  }
}
@media (max-width: 830px) {
  .card {
    gap: 25px;
  }
  .one {
    flex-basis: 35%;
  }
  .two {
    flex-basis: 35%;
  }
  .three {
    flex-basis: 35%;
  }
}
@media (max-width: 564px) {
  .one {
    flex-basis: 100%;
  }
  .two {
    flex-basis: 100%;
  }
  .three {
    flex-basis: 81%;
  }
}
